@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'nullstyle.scss';

$gray: #efefef;
$accent: #66c05d;

body {
	font-family: 'Roboto', sans-serif;
	line-height: 16px;
	font-weight: 400;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	margin: 0px auto;
	max-width: 1110px;
	width: 100%;
}

.content {
	flex: 1 1 auto;
	background-color: $gray;
}

.header__top {
	background-color: #efefef;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;

	.header__navigation {
		display: flex;
		justify-content: center;
		gap: 30px;
	}
}

.header__main {
	height: 150px;
	border: 1px solid $gray;
	display: flex;
	align-items: center;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.main-logo {
			display: flex;
			align-items: center;
			gap: 20px;

			.main-logo__title {
				font-size: 36px;
				line-height: 42px;
				font-weight: 700;
				color: $accent;
				letter-spacing: 4px;
			}
		}
	}
}

.main-menu {
	background-color: white;

	.main-menu__categories {
		padding: 30px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		line-height: 18px;
		gap: 40px;
	}
}

.sale {
	overflow: hidden;
	background-color: $accent;
	height: 600px;
	display: flex;
	align-items: center;

	.sale__banner {
		display: flex;
		height: 100%;

		.sale__description {
			height: 100%;
			width: 330px;
			display: flex;
			flex-direction: column;
			gap: 50px;

			.sale__title {
				color: white;
				font-size: 48px;
				line-height: 56px;
				font-weight: 700;
			}

			.sale__text {
				width: 308px;
				color: white;
				line-height: 20px;
			}
		}

		.sale__decor {
			height: 100%;
			position: relative;

			.circle_1 {
				position: absolute;
				height: 860px;
				width: 860px;
				background-color: #94d38e;
				top: -312px;
				left: 0;
				border-radius: 50%;
			}

			.circle_2 {
				position: absolute;
				height: 670px;
				width: 670px;
				background-color: #bfe5bb;
				top: -217px;
				left: 95px;
				border-radius: 50%;
			}

			img {
				position: absolute;
				top: -170px;
				left: 140px;
			}
		}
	}
}

.special {
	padding: 80px 0 100px 0;

	.special__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 10px;

		.special__title {
			font-size: 24px;
			line-height: 28px;
			font-weight: 700;
		}

		.special__logo {
			width: 190px;
			height: 60px;
		}
	}

	.special__goods {
		display: flex;
		justify-content: space-between;
	}
}

.item {
	padding: 30px;
	background-color: white;
	height: 363px;
	width: 255px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	.item__name {
		text-align: center;
		color: #333;
	}

	.item__price {
		text-align: center;
		font-size: 21px;
		line-height: 24px;
		font-weight: 500;
	}
}

.info {
	.container {
		display: flex;
		justify-content: space-between;
		padding-bottom: 132px;
	}
}

.info-block {
	background-color: $accent;
	width: 540px;
	height: 212px;
	padding: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.info-block__description {
		height: 100%;
		width: 55%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.info-block__title {
			color: white;
			font-size: 18px;
			line-height: 120%;
			font-weight: 700;
		}

		.info-block__text {
			width: 230px;
			color: white;
			font-size: 14px;
			line-height: 20px;
		}

		input {
			height: 35px;
			width: 220px;
			border: 1px solid white;
			border-radius: 30px;
			padding-left: 10px;

			&::placeholder {
				color: #c4c4c4;
			}
		}
	}

	.info-block__logo {
		width: 40%;
		display: flex;
		justify-content: right;
		align-items: center;
	}
}

.footer {
	display: flex;
	flex-direction: column;

	.footer__row {
		background-color: $gray;
		height: 64px;
		display: flex;
		align-items: center;
		color: #828282;

		.footer__text {
			width: 100%;
			display: flex;
			justify-content: space-between;
			font-size: 12px;
			line-height: 14px;
		}
	}
}

.contacts {
	.container {
		display: flex;
		justify-content: space-between;
		padding: 30px 0 30px 0;

		.contacts__links {
			display: flex;
			gap: 20px;
		}

		.contacts__address {
			display: flex;
			align-items: center;
		}
	}
}

.feedback {
	display: flex;
	align-items: center;
	gap: 40px;

	span {
		font-size: 16px;
		line-height: 18px;
	}
}

.button__white {
	background-color: white;
	height: 40px;
	width: 170px;
	border: 2px solid $accent;
	border-radius: 40px;
	font-size: 14px;
	line-height: 16px;
}

.button__green {
	color: white;
	background-color: $accent;
	height: 40px;
	width: 170px;
	border: 2px solid white;
	border-radius: 40px;
	font-size: 14px;
	line-height: 16px;
}

.button__green_small {
	color: white;
	background-color: $accent;
	height: 35px;
	width: 130px;
	border-radius: 30px;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 1px;
}

.icon {
	height: 45px;
	width: 45px;
	border: 2px solid $accent;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
